:root{
    --blue: blue;
    --red: red;
    --white: white;
}

html {
    background-color: var(--white);
}

body{
    text-align: center;
    background-image: url(/images/american-flag-background.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background: repeating-linear-gradient(var(--red), var(--red) 9%, var(--white) 9%, var(--white) 18%); */
}

#background{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: hsla(0, 0%, 0%, 0.2);
}


#page-title{
    padding: 40px;
    color: var(--white);
    font-size: 4rem;
    width: 75%;
    margin: auto;
    /* text-align: center; */
}

#blue-border{
    background-color: var(--blue);
    border-radius: 5px;
    box-shadow: 3px 3px 30px black;
    padding: 20px;
    width: 80%;
    height: auto;
    margin: 20px auto;
}

#content-container {
    border: 10px solid var(--red);
    background-color: var(--blue);
    border-radius: 5px;
    width: 95%;
    height: 60vh;
    margin: 0 auto;
}

#quote-container{
    width: 90%;
    height: 45vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quote {
    color: var(--white);
    font-size: 2.7rem;
}

#speaker-container{
    width: 90%;
    height: 7vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#speaker {
    color: var(--red);
    font-size: 2.7rem;
    /* text-shadow: 1px 1px 2px white; */
    text-shadow:
   -1px -1px 1px lightgrey,  
    1px -1px 1px lightgrey,
    -1px 1px 1px lightgrey,
     1px 1px 1px lightgrey;
}

#date-container{
    width: 90%;
    height: 7vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#date {
    color: var(--white);
    font-size: 2.0rem;
    font-style: italic;
}

#button{
    margin: 20px auto;
}

#new-quote-button{
    border-radius: 4px;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: var(--white);
    color: black;
    font-size: 1.2rem;
}

#transition-image-box{
    position: absolute;
    /* display: flex;
    flex-direction: row;
    justify-content: center; */
}

.transition-image{
    width: 0px;
    height: 0px;
    transition: all .1s ease-in;
}

.transitioning{
    /* animation-name: pres-seal;
    animation-duration: 100ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-in; */
    width: 100vw;
    height: auto;
    /* rotate: 359deg; */
}

/* @keyframes pres-seal {
    0% {
        width: 0px;
        height: 0px;

    }
    100% {
        width: 100vw;
        height: 1000px;
    }
} */

@media screen and (max-width: 1375px){
    #quote {
        font-size: 2.5rem;
    }    

    #speaker {
        font-size: 2.5rem;
    }

    #date {
        font-size: 2.0rem;
    }
}

@media screen and (max-width: 1200px){
    #quote {
        font-size: 2.5rem;
    }    

    #speaker {
        font-size: 2.5rem;
    }

    #date {
        font-size: 2.0rem;
    }
}

@media screen and (max-width: 500px){
    #quote {
        font-size: 1.5rem;
    }    

    #speaker {
        font-size: 1.5rem;
    }

    #date {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 400px){
    #quote {
        font-size: 1.5rem;
    }    

    #speaker {
        font-size: 1.4rem;
    }

    #date {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 350px){
    #quote {
        font-size: 1.2rem;
    }    

    #speaker {
        font-size: 1.2rem;
    }

    #date {
        font-size: 1.0rem;
    }
}

