:root{
    --blue: blue;
    --red: red;
    --white: white;
}

html {
    background-color: var(--white);
}

body{
    text-align: center;
    background: repeating-linear-gradient(var(--red), var(--red) 9%, var(--white) 9%, var(--white) 18%);
}

#background{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: hsla(0, 0%, 0%, 0.2);
}


#page-title{
    padding: 40px;
    color: var(--white);
    font-size: 4rem;
    width: 75%;
    margin: auto;
    /* text-align: center; */
}

#blue-border{
    background-color: var(--blue);
    border-radius: 5px;
    box-shadow: 3px 3px 30px black;
    padding: 20px;
    width: minmax(80%, 2000px);
    height: auto;
    margin: 20px auto;
}

#content-container {
    border: 10px solid var(--red);
    background-color: var(--blue);
    border-radius: 5px;
    width: 95%;
    height: 60vh;
    margin: 0 auto;
}

#quote-container{
    width: 90%;
    height: 45vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quote {
    color: var(--white);
    font-size: 2.5rem;
}

#speaker-container{
    width: 90%;
    height: 7vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#speaker {
    color: var(--red);
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px white;
}

#date-container{
    width: 90%;
    height: 7vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#date {
    color: var(--white);
    font-size: 2.0rem;
    font-style: italic;
}

#button{
    margin: 20px auto;
}

#new-quote-button{
    border-radius: 4px;
    padding: 5px;
    box-shadow: 2px 2px 5px black;
    background-color: var(--white);
    color: black;
    font-size: 1.4rem;
}

#transition-box{
    position: absolute;
    top: 0;
}

.transition-start{
    width: 0px;
    height: 0px;
    transition: width height 1s ease-in ;
}

.transition-end{
    width: 1000px;
    height: 1000px;
    transition: width height 1s ease-in ;
}



/* #dollar-bill-btn{
    margin: auto;
}

#dollar-bill-image{
    width: 150px;
    height: auto;
    box-shadow: 2px 2px 5px black;
}

#dollar-bill-image:hover{
    box-shadow: 2px 2px 50px black;
} */
